.contact_body_container
{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-evenly;
    align-items: flex-end;
    background-image: url("../../assets/images/background_contact_4");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 0% 1% 0%;
    
}
.contact_form_group
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}
.contact_form_group_item
{
    margin:5px 0px 5px 0px;
}
#contact_subject, #contact_area
{
    width: 212px;
    height:34px;
    margin:5px 0px 5px 1px;
}
.contact_submit_btn
{
    margin:auto;
}
label:first-child
{
    font-weight: bold;
}
#contact_form_line
{
    border:2px solid white;
}
.contact_submit_btn
{
    opacity:1;
    font-size:1.2em;
    color:black;
}
.contact_submit_btn:hover
{
    background-color: rgb(85, 83, 83);
}
#contact_form_container
{
    margin-right:10%;
}
.contact_body_container h1
{
    margin-right: 14%;
}
.contact_body_container p
{
    width:300px;
    margin-right:11%;
}