.collection_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 500px;
  grid-gap: 20px;


}

.card-content {
  height: 100%;
}

.card-content .card-image {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card-content img {
  width: 100%;
  height: auto;
}

.card-content .card-name {
  display: none
}

.card-content:hover {
  position: relative;
}

.card-content:hover .card-name {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.card-content:hover .card-name h2 {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.second-column {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  grid-template-areas: " . . "" third-image third-image";
}

.second-column-third-image {
  grid-area: third-image;
}

@media all and (max-width: 767px) {
  .collection_div {
    grid-template-columns: 1fr;
  }
}