
.slogan {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    background-color: antiquewhite;
    font-weight: bolder;
    font-family: "Dancing Script", "Indie Flower", cursive;
    box-shadow: 10px 10px 5px grey;
  }






#home_logo_abs {

    position: absolute;
    top: 8.5em;
    left: 1.5%;
    z-index: 20;
}

#home_logo_abs:hover {
    animation-name: rotate;
    animation-duration: 2s;
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 1100px) {
    #home_logo_abs {
        position: absolute;
        top: 8.5em;
        left: 0.4%;
        z-index: 20;
    }

    #home_logo_abs:hover {
        animation-name: rotate;
        animation-duration: 2s;
    }

    @keyframes rotate {
        50% {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 1000px) {
    #home_logo_abs {
        position: absolute;
        top: 9em;
        left: 0.4%;
        z-index: 20;
        width: 150px;
        height: 135px;
    }

    #home_logo_abs:hover {
        animation-name: rotate;
        animation-duration: 2s;
    }

    @keyframes rotate {
        50% {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 900px) {
    #home_logo_abs {
        position: absolute;
        top: 9.7em;
        left: 0.9%;
        z-index: 20;
        width: 130px;
        height: 107px;
    }

    #home_logo_abs:hover {
        animation-name: rotate;
        animation-duration: 2s;
    }

    @keyframes rotate {
        50% {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 800px) {
    #home_logo_abs {
        position: absolute;
        top: 11em;
        left: 1.2%;
        z-index: 20;
        width: 100px;
        height: 77px;
    }

    #home_logo_abs:hover {
        animation-name: rotate;
        animation-duration: 2s;
    }

    @keyframes rotate {
        50% {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 700px) {
    #home_logo_abs {
        position: absolute;
        top: 11.2em;
        left: 1.4%;
        z-index: 20;
        width: 85px;
        height: 62px;
    }

    #home_logo_abs:hover {
        animation-name: rotate;
        animation-duration: 2s;
    }

    @keyframes rotate {
        50% {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 600px) {
    #home_logo_abs {
        position: absolute;
        top: 10.4em;
        left: -1%;
        z-index: 20;
        width: 85px;
        height: 62px;
    }

    #home_logo_abs:hover {
        animation-name: rotate;
        animation-duration: 2s;
    }

    @keyframes rotate {
        50% {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 500px) {
    #home_logo_abs {
        display: none;
    }
}

/* @media screen and (max-width: 500px) 
{
    #home_logo_abs
{
    position: absolute;
    top: 10em;
    left: 0.4%;
    z-index: 20; 
    width:80px;
    height:65px;
}
    
#home_logo_abs:hover 
    {
        animation-name: rotate;
        animation-duration: 2s;
    }
    
@keyframes rotate
{
    50% {transform: rotate(180deg);}
}
}
@media screen and (max-width: 400px) 
{
    #home_logo_abs
{
    position: absolute;
    top: 10.5em;
    left: 0.4%;
    z-index: 20; 
    width:65px;
    height:50px;
}
    
#home_logo_abs:hover 
    {
        animation-name: rotate;
        animation-duration: 2s;
    }
    
@keyframes rotate
{
    50% {transform: rotate(180deg);}
}
}
@media screen and (max-width: 300px) 
{
    #home_logo_abs
{
    position: absolute;
    top: 11em;
    left: 0.4%;
    z-index: 20; 
    width:45px;
    height:35px;
}
    
#home_logo_abs:hover 
    {
        animation-name: rotate;
        animation-duration: 2s;
    }
    
@keyframes rotate
{
    50% {transform: rotate(180deg);}
}
} */